.configuration-panel {

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
  }

  &__number {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    display: flex;
  }

  &__number span {
    color: mistyrose;
    padding: 5px 10px;
  }

  &__number-input {
    height: 100%;
    max-width: 50px;
  }

  &__toggle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 5px;
  }

  &__toggle-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
  }

  &__toggle-slider {
    --offset: 1px;
    --diameter: 26px;

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: calc(var(--diameter) * 2 + var(--offset) * 2);
    height: calc(var(--diameter) + var(--offset) * 2);
    border: 1px solid navy;
    box-sizing: content-box;
    position: relative;
    background-color: crimson;
    transition: transform 0.2s;
  }

  &__toggle-slider::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 50%;
    left: var(--offset);
    box-sizing: border-box;
    width: var(--diameter);
    height: var(--diameter);
    border: 1px solid navy;
    background-color: aliceblue;
    transform: translate(0, -50%);
    transition: inherit;
  }

  &__toggle-input:checked + .configuration-panel__toggle-slider {
    background-color: dodgerblue;
  }

  &__toggle-input:checked + .configuration-panel__toggle-slider::before {
    transform: translate(100%, -50%);
  }
}
