.slider {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;

  &_type_vertical {
    height: 100%;
    min-height: 240px;
    width: max-content;
  }

  &__tip {
    touch-action: none;
    user-select: none;
    white-space: nowrap;
    padding: 5px;
    background-color: navy;
    position: absolute;
    color: lavenderblush;

    &_type {
      &_horizontal {
        touch-action: none;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
      &_vertical {
        left: 30px;
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }

  &__connect {
    position: absolute;
    background-color: mediumspringgreen;

    &_type {
      &_horizontal {
        top: 0;
        bottom: 0;
      }

      &_vertical {
        left: 0;
        right: 0;
      }
    }
  }

  &__track {
    position: absolute;
    cursor: pointer;
    border: 3px solid midnightblue;

    &_type {
      &_horizontal {
        width: 100%;
        height: 10px;
      }
      &_vertical {
        width: 10px;
        height: 100%;
      }
    }
  }

  &__thumb {
    touch-action: none;
    position: absolute;
    cursor: pointer;
    background-color: cornflowerblue;
    z-index: 5;
    left: 50%;

    &_type {
      &_horizontal {
        width: 15px;
        height: 25px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &_vertical {
        width: 25px;
        height: 15px;
        top: 0;
        right: -75%;
        transform: translateX(-50%);
      }
    }
  }

  &__scale {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;

    &_type {
      &_horizontal {
        left: 0;

        .slider__scale-marker {
          top: 20px;
          transform: translateX(-50%);
        }
      }
      &_vertical {
        top: 0;

        .slider__scale-marker {
          right: 20px;
          transform: translateY(-50%);
        }
      }
    }

    &-marker {
      position: absolute;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
