*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.panel__label-number {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
}

.panel__label-number:not(:last-child) {
  margin-right: 20px;
}

.panel__label-number span {
  color: mistyrose;
  padding: 5px 10px;
  font-size: 20px;
}

.panel-number {
  height: 30px;
  max-width: 50px;
}
