*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  place-items: center;
  padding: 0px 0;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-width: 240px;
  height: 300px;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper:nth-child(odd) {
  border-right: 5px solid slateblue;
}

.wrapper:nth-child(n + 3) {
  border-top: 5px solid slateblue;
}