mixin toggle(label)
  label.configuration-panel__toggle
    span.configuration-panel__text=label
    input(class='configuration-panel__toggle-input' type='checkbox' data-name=label)
    span.configuration-panel__toggle-slider
