.slider {
  width: 100%;
  position: relative;
}

.slider-vertical {
  height: 100%;
  min-height: 240px;
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  width: max-content;
}

.slider-tip {
  touch-action: none;
  user-select: none;
  white-space: nowrap;
  padding: 5px;
  background-color: navy;
  position: absolute;
  color: lavenderblush;
}

.slider-tip--horizontal {
  touch-action: none;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.slider-tip--vertical {
  left: 30px;
  bottom: 50%;
  transform: translateY(50%);
}

.slider-connect {
  position: absolute;
  background-color: mediumspringgreen;
}

.slider-connect--horizontal {
  top: 0;
  bottom: 0;
}

.slider-connect--vertical {
  left: 0;
  right: 0;
}

.track {
  position: absolute;
  width: 100%;
  height: 10px;
  border: 3px solid midnightblue;
}

.track-vertical {
  position: absolute;
  width: 10px;
  height: 100%;
  border: 3px solid midnightblue;
}

.thumb {
  touch-action: none;
  position: absolute;
  cursor: pointer;
  background-color: cornflowerblue;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.thumb-horizontal {
  width: 15px;
  height: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.thumb-vertical {
  width: 25px;
  height: 15px;
  top: 0;
  right: -75%;
}

.slider-scale {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-scale-vertical {
  top: 0;
}


.slider-scale .scale-marker {
  position: absolute;
  font-size: 16px;
  cursor: pointer;
  top: 20px;
  transform: translateX(-50%);
}

.slider-scale-vertical .scale-marker {
  right: 20px;
  transform: translateY(-50%);
}
